.wholePage{
  background-color: white;
}
.addPosts{
  float:right;
}

.cities img{
  height: 150px;
  width: 150px;
}

.cities{
  background-color: rgba(102,51,153,.07);
  border: 2px solid black;
  filter: alpha(opacity=50);
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-align: center;

}

.citiesfulldiv{
  height: 800px;
  overflow-y: scroll;
}

.sf{
  background-color: transparent;
}

.london{
  background-color: transparent;
}

.sydney{
  background-color: transparent;
}

.seattle{
  background-color: transparent;
}

.newYork{
  background-color: transparent;
}

.navbar {
margin-bottom: 0px;
}

.posts{
  height: 800px;
  overflow-y: scroll;
}
