.myCarousel{
    background: #2f4357;
    margin-top: 20px;
    height:50%;
    width: 70%;	
    margin-left: 180px;

}
.carousel .item{

}
.carousel .item img{

}
.myCarousel{

}

.topic{

text-align: center;

}
