.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px;
}
.carousel .item img{
    margin: 0 auto;
}
.myCarousel{
	margin: 20px;
}

.topic{

text-align: center;

}